


<article>
        <header>
            <span id="dayheader"><h2>
                Day
            </h2>
            <input type="number" placeholder="{{currentdayservice.currentDay}}">
        </span>
                
            <sub>{{currentdayservice.currentDayMessage}}</sub>
        </header>
    <p>It's {{currentdayservice.date.toLocaleTimeString()}}, class ends in {{currentdayservice.currentFormatEndTimeString}}</p>
    <em>Next class: {{currentdayservice.currentNextClass}}</em>
</article>