


<article>
        <header>
            <span id="dayheader"><h2>
                Day
            </h2>
            <input type="text" placeholder="{{currentdayservice.currentDay}}">
        </span>
                
        <p id="subtitle">{{currentdayservice.currentDayMessage}}</p>
        </header>
    <p>It's {{currentdayservice.date.toLocaleTimeString()}}, class ends in {{currentdayservice.currentFormatEndTimeString}}</p>
    <em>Next class: {{currentdayservice.currentNextClass}}</em>
</article>